In [1]:
import os
import tweepy as tw
import pandas

In [2]:
consumer_key = 'zsTrAIqVMAl6fMjd3aCnc243e'
consumer_secret = 'bezIY6xoFrQTVr0BYdinyyd8eVc60JNDaXMCWFXr3blfVZ9PV0'
access_token = '1059163618317606912-u4xy1i6vU5eptnQxnka9HXvz2eCNX6'
access_token_secret = 'YQFGmkCYKIyDLmMO4Nfw3iRjPAMY9E4MtfLacmgohOsSI'

In [3]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

In [4]:
search_words = "#pawankalyan"
date_since = "2018-11-16"

In [5]:
tweets = tw.Cursor(api.search,
                       q=search_words,
                       lang="en",
                       since=date_since).items(15)

# Collect a list of tweets
[tweet.text for tweet in tweets]

['RT @ManobalaV: #BheemlaNayak meets #GodFather.\n\nMegastar #Chiranjeevi &amp; powerstar #PawanKalyan met today at Aluminum Factory.',
 'RT @tollymasti: As of now in the span of 24 Hours ðŸ”¥ \n#BheemlaNayakGlimpse #BheemlaNayak #KomaramBheemNTR #SarkaruVaariPaata #Vakeelsaab #Paâ€¦',
 'RT @BheeshmaTalks: Powerstar #PawanKalyan and Megastar #Chiranjeevi met at the shooting spot at Aluminium Factory. \n\n#Chiru in #Acharya Looâ€¦',
 'RT @ManobalaV: #BheemlaNayak meets #GodFather.\n\nMegastar #Chiranjeevi &amp; powerstar #PawanKalyan met today at Aluminum Factory.',
 'RT @BheeshmaTalks: Powerstar #PawanKalyan and Megastar #Chiranjeevi met at the shooting spot at Aluminium Factory. \n\n#Chiru in #Acharya Looâ€¦',
 'RT @ManobalaV: #BheemlaNayak meets #GodFather.\n\nMegastar #Chiranjeevi &amp; powerstar #PawanKalyan met today at Aluminum Factory.',
 'RT @UttarandhraNow: #BJPJSP to project themselves as only alternative to ruling #YCP. #UANow #PawanKalyan https://t.co/D3YnpQfnKm',
 'RT @tollymasti: As of now in the span of 24 Hours ðŸ”¥ \n#BheemlaNayakGlimpse #BheemlaNayak #KomaramBheemNTR #SarkaruVaariPaata #Vakeelsaab #Paâ€¦',
 'RT @tollymasti: As of now in the span of 24 Hours ðŸ”¥ \n#BheemlaNayakGlimpse #BheemlaNayak #KomaramBheemNTR #SarkaruVaariPaata #Vakeelsaab #Paâ€¦',
 'RT @ManobalaV: #BheemlaNayak meets #GodFather.\n\nMegastar #Chiranjeevi &amp; powerstar #PawanKalyan met today at Aluminum Factory.',
 "RT @K__Setty: Below 1kðŸ™„\nMention your I'ds in reply.. I'll promote you :)ðŸ¤—\n\nNote : 1st 200 only  ðŸ˜‰ðŸ˜‰ðŸ˜‰\n\nRetweet chesina vallaku matrame chesthâ€¦",
 'RT @tollymasti: As of now in the span of 24 Hours ðŸ”¥ \n#BheemlaNayakGlimpse #BheemlaNayak #KomaramBheemNTR #SarkaruVaariPaata #Vakeelsaab #Paâ€¦',
 'RT @ManobalaV: #BheemlaNayak meets #GodFather.\n\nMegastar #Chiranjeevi &amp; powerstar #PawanKalyan met today at Aluminum Factory.',
 'RT @tollymasti: As of now in the span of 24 Hours ðŸ”¥ \n#BheemlaNayakGlimpse #BheemlaNayak #KomaramBheemNTR #SarkaruVaariPaata #Vakeelsaab #Paâ€¦',
 "RT @K__Setty: Below 1kðŸ™„\nMention your I'ds in reply.. I'll promote you :)ðŸ¤—\n\nNote : 1st 200 only  ðŸ˜‰ðŸ˜‰ðŸ˜‰\n\nRetweet chesina vallaku matrame chesthâ€¦"]

In [6]:
new_search = search_words + " -filter:retweets"
new_search

'#pawankalyan -filter:retweets'

In [7]:
tweets = tw.Cursor(api.search, 
                           q=new_search,
                           lang="en",
                           since=date_since).items(15)

users_locs = [[tweet.user.screen_name, tweet.user.location] for tweet in tweets]
users_locs

[['arigela_arvind', ''],
 ['K__Setty', 'Andhra Pradesh'],
 ['SampathDhawan2', ''],
 ['pspkfn', 'hyderabad'],
 ['shiva531', 'Hyderabad, India'],
 ['UttarandhraNow', 'Vizag, INDIA ðŸ‡®ðŸ‡³'],
 ['Balu_ps_pk', 'Bezawada, India'],
 ['rseshu1', ''],
 ['IamPrasadLingam', ''],
 ['ManuNaiduPspk', 'West godavarian,Andhra Pradesh'],
 ['indi_boxoffice', ''],
 ['sharath_rayal', 'Madanapalle, Andhra Pradesh'],
 ['sith_shinobi', ''],
 ['sunilkumarck124', 'Kerala, India'],
 ['Pspkfanculb', '']]

In [8]:
tweet_text = pandas.DataFrame(data=users_locs, 
                    columns=['user', "location"])
tweet_text

               user                        location
0    arigela_arvind
1          K__Setty                  Andhra Pradesh
2    SampathDhawan2
3            pspkfn                       hyderabad
4          shiva531                Hyderabad, India
5    UttarandhraNow                 Vizag, INDIA ðŸ‡®ðŸ‡³
6        Balu_ps_pk                 Bezawada, India
7           rseshu1
8   IamPrasadLingam
9     ManuNaiduPspk  West godavarian,Andhra Pradesh
10   indi_boxoffice
11    sharath_rayal     Madanapalle, Andhra Pradesh
12     sith_shinobi
13  sunilkumarck124                   Kerala, India
14      Pspkfanculb